*{
  color: black;
}

body {
  background: linear-gradient(
    90deg,
    rgba(109, 109, 13, 1) 0%,
    rgba(0, 19, 98, 1) 100%
  );
  color: white;
  font-size: medium;
}

.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainText {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  min-height: 50px;
  padding: 30px;
}